/*Included in manifest.json*/
:root {
    --goodreads-colour: #f1f1e4;
    --main-dark: #d8d8d8;
    --secondary-dark: #b7ad98;
}

.gpf-value {
    display: flex;
    gap: 8px;
}

.gpf-value-price-wrapper {
    display: flex;
}

.gpf-label {
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: 1px solid var(--main-dark);
    background: var(--goodreads-colour);
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
    padding: 1px 3px;
}

.gpf-prices {
    overflow: hidden;
}

.gpf-prices-boxes {
    max-height: 0;
    transition: all 0.3s ease;
}

.gpf-prices-boxes.expanded {
    max-height: 500px;
}

.gpf-prices-list ul {
    background: var(--goodreads-colour);
    border: 1px solid var(--main-dark);
    list-style: none;
    padding-left: 0;
    margin: 0;
    border-radius: 4px 0 4px 4px;
}

.gpf-prices-list ul li:not(:last-child) {
    border-bottom: 1px solid var(--main-dark);
}

.gpf-prices-list ul li a {
    padding: 4px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: black;
}

.gpf-prices-list ul li a:hover {
    box-shadow: 0 0 5px 3px var(--main-dark);
}

.gpf-prices-list ul li a span:first-of-type {
    font-size: 14px;
    font-weight: bold;
}

.gpf-prices-list li a span:last-of-type {
    font-size: 12px;
}

[data-gpf-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-gpf-tooltip]:before,
[data-gpf-tooltip]:after {
    visibility: hidden;
    pointer-events: none;
}

[data-gpf-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 8px;
    width: 160px;
    border-radius: 4px;
    background-color: rgba(30, 25, 21, 0.9);
    color: #fff;
    content: attr(data-gpf-tooltip);
    text-align: center;
}

[data-gpf-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid rgba(30, 25, 21, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-gpf-tooltip]:hover:before,
[data-gpf-tooltip]:hover:after {
    visibility: visible;
}

.loader {
    width: 16px;
    height: 16px;
    border: 3px solid var(--goodreads-colour);
    border-bottom-color: var(--secondary-dark);
    border-radius: 50%;
    display: flex;
    animation: rotation 1s linear infinite;
    margin: 0 auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
